<app-draggable-dialog-title>{{ title() }}</app-draggable-dialog-title>

<mat-dialog-content>
  <form class="dialog-form" [formGroup]="form">
    <app-catalog-autocomplete-field title="Поставщик" formControlName="supplier" [options]="supplierOptions()" />
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="onCancelClick()">Отмена</button>
  <button mat-flat-button color="primary" type="button" (click)="onSaveClick()">Сохранить</button>
</div>
